.chakra-ui-light{
     background-image: url("./b91dc2113881469c07ac99ad9a024a01.jpg");
     overflow: hidden;
}

 ::-webkit-scrollbar-track{
     background: black;
     border-radius: 20px;
}

 ::-webkit-scrollbar-thumb{
     background-color:black;
} 




